html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: #ffffff;
  color: #000000;
}

.mat-app-background {
  background: #ffffff;
  color: #000000;
}