@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-palette),
    accent: mat.define-palette(mat.$indigo-palette),
    warn: mat.define-palette(mat.$red-palette),
  ),
));

@include mat.all-component-themes($light-theme);