<h2>Upload video</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <label>
    Naslov videa
    <input type="text" formControlName="title">
  </label>

  <label>
    Opis videa
    <textarea formControlName="description"></textarea>
  </label>

  <label>
    Tagovi (razdvojeni zarezima)
    <input type="text" formControlName="tags" placeholder="npr: java, ft n, isa">
  </label>

  <label>
  Lokacija
  <select formControlName="location">
    <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
  </select>
</label>

  <hr>

  <label>
    🎬 Video fajl (MP4, max 200MB)
  </label>
  <input
    type="file"
    accept="video/mp4"
    (change)="onVideoSelected($event)"
  >
  <small *ngIf="videoFile">
    Izabran video: {{ videoFile.name }}
  </small>

  <br><br>

  <label>
    🖼️ Thumbnail slika (PNG/JPG)
  </label>
  <input
    type="file"
    accept="image/png,image/jpeg"
    (change)="onThumbnailSelected($event)"
  >
  <small *ngIf="thumbnailFile">
    Izabrana slika: {{ thumbnailFile.name }}
  </small>

  <br><br>

  <button type="submit" [disabled]="form.invalid || !videoFile || !thumbnailFile">
    Upload
  </button>

</form>

<hr>
<div *ngIf="errorMessage" style="color:red; font-weight:bold;">
  {{ errorMessage }}
</div>


