<div class="create-video-container">
  <h2>Upload video</h2>
  <p class="subtitle">Popuni podatke i dodaj fajlove.</p>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="section">
      <div class="grid">
        <div class="field">
          <label>Naslov videa</label>
          <input type="text" formControlName="title" placeholder="Npr. Hemija 1 - kolokvijum">
        </div>

        <div class="field">
          <label>Lokacija</label>
          <select formControlName="location">
            <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label>Opis videa</label>
        <textarea rows="4" formControlName="description" placeholder="Kratak opis..."></textarea>
      </div>

      <div class="field">
        <label>Tagovi (razdvojeni zarezima)</label>
        <input type="text" formControlName="tags" placeholder="npr: java, ftn, isa">
      </div>
    </div>

    <div class="section">
      <div class="file-grid">
        <div class="file-box">
          <div class="file-title">Video fajl</div>
          <div class="file-sub">MP4, max 200MB</div>
          <input type="file" accept="video/mp4" (change)="onVideoSelected($event)">
          <div class="file-name" *ngIf="videoFile">{{ videoFile.name }}</div>
        </div>

        <div class="file-box">
          <div class="file-title">Thumbnail</div>
          <div class="file-sub">PNG/JPG</div>
          <input type="file" accept="image/png,image/jpeg" (change)="onThumbnailSelected($event)">
          <div class="file-name" *ngIf="thumbnailFile">{{ thumbnailFile.name }}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Zakazana premijera</label>
      <input
        type="datetime-local"
        formControlName="scheduledAt"
      >
      <div class="error" *ngIf="form.get('scheduledAt')?.touched && form.get('scheduledAt')?.hasError('pastDate')">
        Premijera ne može biti u prošlosti.
      </div>
    </div>

    <button class="submit-btn" type="submit" [disabled]="form.invalid || !videoFile || !thumbnailFile">
      Upload
    </button>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

  </form>
</div>
